.animate-pulser {
  animation: pulser 2s infinite linear; /* Added ease-in-out */
  transform: scale(1);
  opacity: 0; /* Starts invisible */
}
@keyframes pulser {
  from {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}body {
  background: (--darkreader-background-0c0a09, #0a0807)!important;}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
